body {
    background: url(../img/background2.png) ;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.centered {
    text-align: center;
    position: relative;
}
textarea, p, form {
    border: none;
    overflow-wrap: break-word;
    resize: none;
}
.arrow-letter {
    width: 100px;
}
.block {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
textarea:focus,
input:focus {
    outline: none; /* Loại bỏ outline */
    border: 1px solid transparent; /* Loại bỏ border */
}
textarea {
    width: 100%;
    height: 200px;
    border-radius: 4px;
    padding: 4px;
}
.block > input {
    border: none;
    padding: 4px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    width: 60%;
    font-size: 16px;
    margin-bottom: 32px;

}
.radio-container > label {
    margin-left: 8px;
    color: black;
}
.radio-container > input {
    width: 18px;
    height: 18px;
    margin-bottom: 20px;
}
.btn {

    width: 200px;
}
a {
    display: flex;
    justify-content: center;
}
form {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    z-index: 1030;
    width: 50%;
    height: auto;
    justify-content: center;
    gap: 40px;
    background-color: #7395c6;
    margin-top: 80px;
    padding: 20px;
}
.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-school {
    width: 220px;
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 4px;
}
.form-way-send {
    width: 100px;
    margin-bottom: 8px;
    border-radius: 4px;
    padding: 4px;
}
.form-class {
    width: 50px;
}
/* .block1 input{
    color: white;
}
.block1 input::placeholder{
    color: white;
} */
.block2 input::placeholder {
    
}
.block > label {
    color: white;
    font-size: 1rem;
    background: #2d436c;
    padding: 6px;
    border-radius: 4px;
    width:max-content;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}
.btn-sm {
    background: #fcd24f;
    font-weight: bold;
    border-radius: 48px;
    padding: 8px;
    WIDTH: 30%;
    /* text-align: center; */
    font-size: 18px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    color: black;
    border: 2px black solid;
}
.btn--wheel:hover {
    transform: scale(0.96);
}
hr {
    z-index: 1000;
    margin: 0px;
}
main {
    display: none;
}